!!!
%html
  %head
    %title HumanComp
    = render 'layouts/header'
    = render 'layouts/shim'
    = stylesheet_link_tag "application", params[:controller], :media => "all"
    = javascript_include_tag "application", params[:controller]
    = csrf_meta_tags
  %body
    = yield
